<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MedicalMngmt.Properties.Settings.MedicalMngmtConnectionString"
            connectionString="Data Source=DESKTOP-OHHS4UD\SQLEXPRESS;Initial Catalog=MedicalMngmt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MedicalMngmt.Properties.Settings.InventoryMngmntConnectionString"
            connectionString="Data Source=DESKTOP-OHHS4UD\SQLEXPRESS;Initial Catalog=InventoryMngmnt;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>